@import "_mixin";

.Main-content {
    @include for-phone-and-tablet {
        position: relative;
    }

    .highlight {
        padding-top: 3rem;
        text-align: center;
        color: $textcolor;
        background: $maincolor;

        @include for-phone-and-tablet {
            position: relative;
        }

        .highlight-content {
            max-width: 75rem;
            margin: 0 auto 3rem auto;
            padding: 0 2rem;

            @include for-phone-and-tablet {
                margin: 0 auto -1rem auto;
            }

            .highlight-main-title {
                font-family: 'Alfa Slab One', cursive;
                font-size: 200%;
                color: $textcolor;
                letter-spacing: 0.4rem;
                line-height: 3.2rem;
                font-weight: 500;
            }

            .highlight-sub-title {
                font-size: 100%;
                color: $textcolor;
                letter-spacing: 0.2px;
                font-family: sans-serif;
                font-size: 18px;

                @include for-phone-and-tablet {
                    line-height: 2;
                }
            }
        }
    }
}

.academics-mountain {
    .academics-container {
        width: 100%;

        @include for-phone-and-tablet {
            padding-top: 5rem;
        }

        h2 {
            color: $textcolor;
            position: relative;
            padding-top: 16%;
            font-family: sans-serif;
        }

        .feature-slider {
            background: #004b8d;
            padding-bottom: 4%;

            @include for-phone-and-tablet {
                position: relative;
            }

            .swiper-container {
                position: relative;
                overflow: hidden;
                padding: 3rem 0 5rem;
                margin-left: 10%;
                margin-right: 10%;
                color: #fff;

                .swiper-wrapper {
                    .swiper-slide {
                        width: 33%;

                        .feature {
                            display: block;
                            justify-content: center;

                            .feature-value {
                                font-size: 3.75rem;
                                line-height: 1;
                                font-family: 'Alfa Slab One', cursive;
                            }

                            p {
                                display: flex;
                                flex-wrap: wrap;
                                padding-left: 5%;
                                padding-right: 5%;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.academics-mountain:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url("../assets/Images/mountain-bg.png") repeat-x center top;
}

.go {
    position: relative;
    overflow: hidden;
    min-height: 540px;

    @include for-phone-and-tablet {
        background: #004b8d;
        height: 65rem;
    }

    .go-image-right {
        @include for-phone-and-tablet {
            position: relative;
            top: 0;
            width: 100%;
            height: 330px;
            max-height: 300px;
            z-index: 1;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;

            @include for-phone-and-tablet {
                width: 100%;
                max-height: 20rem;
                object-fit: cover;
            }
        }
    }

    .go-text {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background: $primary;
        line-height: 0.8;
        color: $maincolor;
        font-family: 'Alfa Slab One', cursive;

        @include for-phone-and-tablet {
            position: relative;
            height: 0;
            top: 0;
        }

        .go-text-g {
            position: absolute;
            top: -10%;
            left: -20%;
            font-size: 60vw;

            @include for-phone-and-tablet {
                left: -26%;
                top: 2px;
                font-size: 85vw;
                position: absolute;
                color: #007dc3;
                width: 50%;
                line-height: 0.8;
            }
        }

        .go-text-o {
            position: absolute;
            top: -10%;
            right: -20%;
            font-size: 60vw;

            @include for-phone-and-tablet {
                right: -20%;
                top: 2px;
                font-size: 85vw;
                width: 50%;
                position: absolute;
                color: #007dc3;
                line-height: 0.8;
            }
        }
    }

    .go-content {
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 20%;
        width: 35vw;
        padding: 0;
        transform: translateY(-50%);
        color: #fff;
        text-align: right;

        @include for-phone-and-tablet {
            padding-top: 25rem;
            width: 100%;
            left: 0;
            margin: 10px;
        }


        .go-content-title {
            letter-spacing: 5.5px;
            color: #fff;
            font-family: "Alfa Slab One", serif;
            font-weight: 500;
            margin-left: 0;

            @include for-phone-and-tablet {
                margin-bottom: 2rem;
                font-size: 2rem;
                text-align: left
            }
        }

        .go-content-wrapper {
            width: 15vw;
            margin-left: auto;
            padding-left: 1rem;
            font-size: 70%;

            @include for-phone-and-tablet {
                width: 100%;
                margin-bottom: 3rem;
            }

            .go-content-text {
                margin-bottom: 1.5rem;
                font-family: sans-serif;
                line-height: 1.5;
                font-size: 15px;
                letter-spacing: 0;
                text-align: left;

                @include for-phone-and-tablet {
                    font-size: 20px;
                    padding-right: 2rem;
                    line-height: 2rem;
                }
            }

            .go-buttons {
                @include for-phone-and-tablet {
                    width: 50%;
                }

                button {
                    // outline: 0;
                    display: block;
                    padding: 10px 0;
                    text-align: center;
                    cursor: pointer;
                    margin-bottom: 7%;
                    width: 76%;
                    border: 2px solid #fff;
                    background: #fff;



                    a {
                        text-decoration: none;
                        color: #007dc3;
                        font-weight: bold;
                        font-size: larger;


                    }
                }

                button:hover {
                    background-color: transparent;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

.students-portfolio {
    .students-portfolio-title {
        display: flex;
        font-family: 'Alfa Slab One', cursive;
        color: #004b8d;
        justify-content: center;
        align-items: center;
        padding: 1%;
        @include titlefont;
    }

    .students-portfolio-cards {
        display: flex;

        @include for-phone-and-tablet {
            display: flex;
            flex-direction: column;
        }

        .cards {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.events {
    padding: 1rem 0 10rem 0;
    background: #004b8d url("../assets/Images/layer-bg.png") no-repeat 100% 101.05%;
    background-size: 55rem auto;

    .events-title {
        @include titlefont;
        color: #fff;
    }

    .events-details {
        display: flex;
        margin-left: 1rem;
        margin-right: 2rem;
        flex-wrap: wrap;

        @include for-phone-and-tablet {
            display: flex;
            margin-left: 0;
        }

        .event-item {
            display: flex;
            color: $textcolor;
            flex: 0 0 22rem;
            max-width: 17rem;
            padding-right: 2rem;
            padding-left: 6rem;
            border-right: 1px solid $maincolor;

            @include for-phone-and-tablet {
                border-right: none;
                max-width: 100%;
                padding: 14px;
            }

            .event-day-box {
                position: relative;
                flex: 0 0 3.75rem;
                height: 5rem;
                margin-right: 1rem;
                text-align: center;
                border: 2px solid $textcolor;

                .event-date {
                    background: #003c70;
                    font-size: 2rem;
                    font-weight: 900;
                    line-height: 1.5;
                }

                .event-month {
                    line-height: 1.8;
                }
            }
        }
    }

    .events-details>.event-item:last-child {
        border-right: none;
    }

    .event-button {
        text-align: center;
        padding-top: 5rem;

        button {
            @include button();
        }

        button:hover {
            @include buttonhover();
        }
    }
}



.stories {
    @include allignment();

    .stories-title {
        text-align: center;
        color: $primary;
        @include titlefont();

        @include for-phone-and-tablet {
            font-size: 200%;
        }
    }

    .stories-wrapper {
        display: flex;
        margin-left: 5rem;
        margin-right: 5rem;

        @include for-phone-and-tablet {
            display: flex;
            flex-direction: column-reverse;
            margin: 0;
        }

        .stories-wrapper-left {
            .story-content {
                display: flex;

                @include for-phone-and-tablet {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .story-text {
                    @include for-phone-and-tablet {
                        margin-top: 0;
                    }

                    h2 {
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 1;
                    }

                    p {
                        margin-bottom: 1.5rem;
                        font-family: "Roboto", sans-serif;
                        line-height: 1.5;
                    }

                    a {
                        padding-right: 1rem;
                        background: url("../assets/Images/d-arrow.svg") no-repeat center right;
                        background-size: 0.75rem;
                        font-weight: 900;
                        line-height: 2;
                    }
                }

                .story-image {
                    flex: 0 0 28.75rem;
                    margin-right: 1rem;

                    @include for-phone-and-tablet {
                        display: flex;
                        flex: none;
                    }

                    img {
                        @include for-phone-and-tablet {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .stories-wrapper-right {
            @include for-phone-and-tablet {
                display: flex;
                flex-direction: column;
            }

            a {
                padding-left: 0.5rem;
                margin-left: 0.5rem;
                text-decoration: none;
                display: block;
                border-top: 0.5rem solid transparent;
                border-bottom: 0.5rem solid transparent;
                border-left: 0.1rem solid $primary;
                margin-bottom: -0.8rem;
            }

            a:hover {
                border-left: 0.5rem solid $primary;
                color: $primary;
            }
        }
    }

    .story-button {
        text-align: center;
        padding-top: 1rem;

        button {
            @include button();
            border: 2px solid $maincolor;
        }
    }

    .story-button button:hover {
        @include buttonhover();
        color: black;
    }
}

.ticket-banner {
    @include allignment();
    background: rgba(241, 164, 49, 0.863);

    @include for-phone-and-tablet {
        display: flex;
    }

    .ticket-banner-container {
        display: flex;

        @include for-phone-and-tablet {
            display: flex;
            flex-wrap: wrap-reverse;
        }

        .ticket-banner-wrapper {
            margin-left: 10%;

            .ticket-banner-wrapper-title {
                @include titlefont;
                margin-bottom: 1rem;
                text-align: left;
                color: $primary;
            }

            .ticket-banner-wrapper-subtitle {
                font-family: sans-serif;
                color: $primary;
                font-weight: 100;
            }

            p {
                font-family: sans-serif;
                font-size: larger;
                color: $primary;
                margin-right: 4rem;
            }

            .ticket-Banner-CTA {
                button {
                    @include button();
                }

                button:hover {
                    @include buttonhover();
                }
            }
        }

        .ticket-banner-image {
            flex-grow: 1;
            margin-right: 18%;

            @include for-phone-and-tablet {
                width: 100%;
            }

            img {
                width: 200%;

                @include for-phone-and-tablet {
                    width: 100%;
                    height: 100%;
                    margin-left: 10%;
                }
            }
        }
    }
}